@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&family=The+Nautigal:wght@400;700&display=swap');

body {
    font-family: Lato;
    color: rgb(71, 85, 71)
}


#menu{
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
    background-color: rgb(72, 100, 83);
    color:aliceblue;
}



#menu li {
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #777777;
}

.active{
    border-bottom: 1px solid #777777;
}
#banner {
    background-color: rgb(71, 85, 71);
    height: 400px;
    margin-top: 0;
    text-align: center;
    color:aliceblue;
}
#image-banner {
    margin-left: 25px;
}

h2 {
    color: rgb(71, 85, 71);
    text-align: center;
    
}
#image1 {
    margin-left: 20px;
}
#image2 {
    margin-right: 20px;
}
 