@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&family=The+Nautigal:wght@400;700&display=swap');

body {
    font-family: Lato;
    color:#777777;
  
}
#logo {
    float: left;
    font-size: 250%;
    margin-left: 20px;
}
#menu{
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
    color: #777777;
    
}

#menu li {
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #777777;
}

.active{
    border-bottom: 1px solid #777777;
}
h3 {
    text-align: center;
}

.social-footer {
    padding: 1rem;
    background: #856f5d;
    display: inline-table;
    display: inline-table;
    display: flex;
    -webkit-box-flex: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .social-footer .social-footer-icons li:last-of-type {
    margin-right: 20px;
  }
  
  .social-footer .social-footer-icons .fa {
    font-size: 1.3rem;
    color: #fefefe;
  }
  
  .social-footer .social-footer-icons .fa:hover {
    color: #4a4a4a;
    transition: color 0.3s ease-in;
  }
  
  