@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&family=The+Nautigal:wght@400;700&display=swap');

body {
    font-family: Lato;
    color:#777777;
  
}
#logo {
    float: left;
    font-size: 250%;
    margin-left: 20px;
}
#menu{
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
    color: #777777;
    
}

#menu li {
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #777777;
}

.active{
    border-bottom: 1px solid #777777;
}

h3 {
    text-align: center;
}
footer {
    height: 160%;
}
.social-networks {
    text-align: center;
}
.social-networks li {
    display: inline;
}
.social-networks i {
    font-size: 160%;
    margin: 2%;
    padding: auto;
    color: #956e3c;
}
.social-networks i:hover {
    background-color: blue;
}
#photo {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#photo img{
    width: 100%;
}
.form-section {
    clear:left;
    background: url("image/pexels-andrei-tanase-2638503.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}
.signup-form {
    margin-top: 150px;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-height: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}
.signup-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
}